<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ankit.Bingo" >
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >



        <activity
            android:name="com.pw.Bingo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pw.Bingo.main_2"
            android:label="@string/title_activity_main_2" >
        </activity>
        <activity
            android:name="com.pw.Bingo.Play"
            android:label="@string/title_activity_play" >
        </activity>
        <activity
            android:name="com.pw.Bingo.Stats"
            android:label="@string/title_activity_stats" >
        </activity>
        <activity
            android:name="com.pw.Bingo.Start1"
            android:label="@string/title_activity_start1" >
        </activity>
        <activity
            android:name="com.pw.Bingo.Search"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name="com.pw.Bingo.main_game"
            android:label="@string/title_activity_main_game" >
        </activity>
        <activity
            android:name="com.pw.Bingo.abc2"
            android:label="@string/title_activity_abc2" >
        </activity>
    </application>

</manifest>
